
#azkaar-english-widget {
	/* background-color:#F5F5F5; */
	border:1px solid #DDD;
	border-radius:8px;
	padding:8px;
	margin-bottom:10px;
	margin-left:2px;
	color:#080;
	line-height:15px;
	font-size:11px;
	font-family:verdana;
}

#azkaar-english-widget h2 {
	font-size:13px;
	margin:15px 0 15px 0;
	text-align:center;
	color:#0A0;
}

#azkaar-english-widget div {
	margin-bottom:8px;
}

#azkaar-english-widget .widget {
	margin:0;
	padding:0;
}

#azkaar-english-widget .dua_image img {
	max-width:100%;
	height:auto;
	border:none;
	margin-bottom:10px;
	box-shadow:none;
}

#azkaar-english-widget .dua_trans {
	color:navy;
	margin-top:8px;	
	padding-left:8px;
	font-family:Times New Roman;
	font-size:15px;
	line-height:17px;
}

/* Don't display link to azkaar.com yet, azkaar website can't handle huge traffic at this moment */
#azkaar-english-widget .azkaar_link {
	display:none;
	text-align:center;
}

#azkaar-english-widget .azkaar_link  a {
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
	color:blue;
}

